<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <PropertyGroup>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<SolutionProperties>
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.Plugins.Word.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>		
		<TemplateFiles Include="templates/**/*.*"/>
		<MainFiles Include="src/SharpDox.Plugins.Word/bin/Release/SharpDox.Plugins.Word.dll"/>	
		<LanguageFiles Include="lang/**/*.*"/>
		<LibraryFiles Include="src/SharpDox.Plugins.Word/bin/Release/DocumentFormat.OpenXml.dll;
			libs/HtmlToOpenXml.dll;
			src/SharpDox.Plugins.Word/bin/Release/MarkdownSharp.dll"/>	
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />	
		<Copy SourceFiles="@(LanguageFiles)" DestinationFolder="$(OutDir)/lang" />
		<Copy SourceFiles="@(TemplateFiles)" DestinationFiles="@(TemplateFiles->'$(OutDir)/plugins/word/templates/%(RecursiveDir)%(Filename)%(Extension)')" />
		<Copy SourceFiles="@(MainFiles)" DestinationFolder="$(OutDir)/plugins/word" />
		<Copy SourceFiles="@(LibraryFiles)" DestinationFolder="$(OutDir)/plugins/word" />
	</Target>
</Project>